.navbar {
    background-color: #052545 !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 15px;
    z-index: 1;
}

.navbar-nav {
    float: left;
}

.navbar-logo-image {
    height: 30px;
    margin: 5px;
}

.navbar-nav .nav-item:hover {
    background-color: #0b335c;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-collapse .nav-item {
    padding: 2px 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background: none;
    border-radius: 5px;
}

.dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link {
    background-color: #e7f1ff;
    color: #5d7684;
}

.nav-tabs .nav-link.active {
    color: #000;
}

.video-container {
    margin-top: -5px;
    z-index: 0;
}

.content {
    padding-top: 60px;
    margin-top: -10%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: right;
    font-size: smaller;
}

.footer-wrap {
    padding: 2vh 0 1vh 0;
    background-color: #052545 !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    text-decoration: none;
    color: white;
}

main {
    padding-bottom: 60px;
}

.mineral-info-carousel img {
    height: 40vh;
    object-fit: contain;
    object-position: center;
}

.mineral-info-carousel .carousel-control-prev-icon,
.mineral-info-carousel .carousel-control-next-icon {
    color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.carousel-inner {
    border-radius: 14px;
}

.carousel {
    margin-top: 16px;
}

body {
    background: linear-gradient(to bottom, #fff, #d1ddeb);
}

.btn-primary {
    background-color: #052545;
    border-color: #052545;
}

.btn-primary:hover {
    background-color: #d1ddeb !important;
    border-color: #d1ddeb;
    color: #052545;
}

.card-img-top {
    border-radius: 5px;
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.card {
    border-radius: 10px;
}

.mineral-card {
    transition: transform 0.3s ease;
}

.mineral-card:hover {
    transform: scale(1.015);
}

.mineral-card-formula {
    font-style: italic;
}

.mineral-card-link {
    color: black;
    font-style: italic;
    text-decoration: none;
}

.mineral-card-link:hover {
    color: black;
}

.fa-heart {
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 5px;
}

.fa-heart:hover {
    color: red;
}

.fa-heart.filled {
    color: red;
}

.fa-heart,
.fa-plus {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.stretched-link {
    z-index: 0;
    margin-top: auto;
}