.navbar[b-qgsvw684bo] {
    background-color: #052545 !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 15px;
    z-index: 1;
}

.navbar-nav[b-qgsvw684bo] {
    float: left;
}

.navbar-logo-image[b-qgsvw684bo] {
    height: 30px;
    margin: 5px;
}

.navbar-nav .nav-item:hover[b-qgsvw684bo] {
    background-color: #0b335c;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-collapse .nav-item[b-qgsvw684bo] {
    padding: 2px 10px;
}

.navbar-toggler[b-qgsvw684bo] {
    border: none;
}

.navbar-toggler:hover[b-qgsvw684bo]{
    background-color: #0b335c;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-toggler:focus[b-qgsvw684bo] {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon[b-qgsvw684bo] {
    border-radius: 5px;
}

.dropdown-menu[b-qgsvw684bo] {
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link[b-qgsvw684bo] {
    background-color: #e7f1ff;
    color: #5d7684;
}

.nav-tabs .nav-link.active[b-qgsvw684bo] {
    color: #000;
}

footer[b-qgsvw684bo] {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: right;
    font-size: smaller;
}

.footer-wrap[b-qgsvw684bo] {
    padding: 2vh 0 1vh 0;
    background-color: #052545 !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.footer-link[b-qgsvw684bo] {
    text-decoration: none;
    color: white;
}

.footer-link:hover[b-qgsvw684bo] {
    text-decoration: none;
    color: white;
}