@page "/encyclopedia"

<PageTitle>Encyklopédia</PageTitle>

<main class="container my-4">
    <h2 class="text-center  mb-4">Encyklopédia Minerálov</h2>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 mb-4 d-flex">
            <div class="card mineral-card flex-fill">
                <div class="card-body d-flex flex-column">
                    <img src="../images/amethyst.jpg" class="card-img-top" alt="Amethyst">
                    <h5 class="card-title font-weight-bold d-flex justify-content-between align-items-center">
                        Ametyst
                        <span>
                            <i class="fa-regular fa-heart" title="Pridať do obľúbených" onclick="toggleHeart(this)"></i>
                        </span>
                    </h5>
                    <p style="margin: 0;"> Chemický vzorec: </p>
                    <p class="mineral-card-formula">SiO<sub>2</sub></p>
                    <p class="card-text">Ametyst je minerál, fanerokryštalická odroda kremeňa tmavofialovej,
                        fialovej až červenofialovej farby. Ak sa v tej istej hornine nachádza ametyst s citrínom,
                        nazýva sa ametrín.
                    </p>
                    <a href="amethyst.html" class="stretched-link mineral-card-link">Prečítať si viac...</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-3 mb-4 d-flex">
            <div class="card mineral-card flex-fill">
                <div class="card-body d-flex flex-column">
                    <img src="../images/malachite.jpg" class="card-img-top" alt="Malachite">
                    <h5 class="card-title font-weight-bold d-flex justify-content-between align-items-center">
                        Malachit
                        <span>
                            <i class="fa-regular fa-heart" title="Pridať do obľúbených" onclick="toggleHeart(this)"></i>
                        </span>
                    </h5>
                    <p style="margin: 0;"> Chemický vzorec: </p>
                    <p class="mineral-card-formula">Cu<sub>2</sub>(CO<sub>3</sub>)(OH)<sub>2</sub></p>
                    <p class="card-text">Malachit je minerál, chemicky zásaditý dihydroxid-uhličitan meďnatý.</p>
                    <a href="malachite.html" class="stretched-link mineral-card-link">Prečítať si viac...</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-4 d-flex">
            <div class="card mineral-card flex-fill">
                <div class="card-body d-flex flex-column">
                    <img src="../images/sodalite.jpg" class="card-img-top" alt="Sodalite">
                    <h5 class="card-title font-weight-bold d-flex justify-content-between align-items-center">
                        Sodalit
                        <span>
                            <i class="fa-regular fa-heart" title="Pridať do obľúbených" onclick="toggleHeart(this)"></i>
                        </span>

                    </h5>
                    <p style="margin: 0;"> Chemický vzorec: </p>
                    <p class="mineral-card-formula">Na<sub>4</sub>(Si<sub>3</sub>Al<sub>3</sub>)O<sub>12</sub>Cl</p>
                    <p class="card-text"> Je to alumosilikát (hlinitokremičitan) sodíka s chlórom, zaraďuje sa medzi
                        tektosilikáty.
                        Typická je jeho tmavomodrá farba.</p>
                    <a href="sodalite.html" class="stretched-link mineral-card-link">Prečítať si viac...</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-4 d-flex">
            <div class="card mineral-card flex-fill">
                <div class="card-body d-flex flex-column">
                    <img src="../images/ocean_jasper.jpg" class="card-img-top" alt="Ocean Jasper">
                    <h5 class="card-title font-weight-bold d-flex justify-content-between align-items-center">
                        Jaspis oceán
                        <span>
                            <i class="fa-regular fa-heart" title="Pridať do obľúbených" onclick="toggleHeart(this)"></i>
                        </span>

                    </h5>
                    <p style="margin: 0;"> Chemický vzorec: </p>
                    <p class="mineral-card-formula">SiO<sub>2</sub></p>
                    <p class="card-text">Oceán jaspis je jedinečná varieta jaspisu, ktorá pochádza z Madagaskaru.
                        Charakteristický je pestrosťou farieb a motívov. Najčastejšie obsahuje drobné krúžky,
                        niekedy usporiadané do pásikov.</p>
                    <a href="ocean-jasper.html" class="stretched-link mineral-card-link">Prečítať si viac...</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-4 d-flex">
            <div class="card mineral-card flex-fill">
                <div class="card-body d-flex flex-column">
                    <img src="../images/rhodonite.jpg" class="card-img-top" alt="Rhodonite">
                    <h5 class="card-title font-weight-bold d-flex justify-content-between align-items-center">
                        Rodonit
                        <span>
                            <i class="fa-regular fa-heart" title="Pridať do obľúbených" onclick="toggleHeart(this)"></i>
                        </span>

                    </h5>
                    <p style="margin: 0;"> Chemický vzorec: </p>
                    <p class="mineral-card-formula">CaMn<sub>3</sub>Mn(Si<sub>5</sub>O<sub>15</sub>)</p>
                    <p class="card-text">V antike rodonit chránil pocestných na ich výpravách a v stredoveku bol
                        predovšetkým považovaný za kameň šťastia, radosti a lásky. V starom Rusku mu zasa bola
                        pripisovaná vyššia magická sila.</p>
                    <a href="rhodonite.html" class="stretched-link mineral-card-link">Prečítať si viac...</a>
                </div>
            </div>
        </div>
    </div>
</main>